* {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid #000;

}

.column {
    display: flex;
    flex-direction: column;
    flex:0 1 50%;
}

.row {
    height: calc(100%/3);
    width: 100%;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #000;
    margin: calc(40% - 20px) 0 0 calc(55% - 20px)
}