* {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 15px solid #000;
    margin: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    flex:0 1 33%;
}

.row {
    height: calc(100%/3);
    width: 100%;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #000;
    margin: calc(40% - 20px) 0 0 calc(45% - 20px)
}

.number-1 .mod-1-1,
.number-1 .mod-1-2,
.number-1 .mod-1-3,
.number-1 .mod-3-1,
.number-1 .mod-3-2,
.number-1 .mod-3-3
{
    display: none;
}

.number-2 .mod-1-1,
.number-2 .mod-1-2,
.number-2 .mod-2-2,
.number-2 .mod-3-2,
.number-2 .mod-3-3
{
    display: none;
}

.number-3 .mod-1-1,
.number-3 .mod-1-2,
.number-3 .mod-3-2,
.number-3 .mod-3-3
{
    display: none;
}

.number-4 .mod-1-2,
.number-4 .mod-2-2,
.number-4 .mod-3-2,
.number-4 .mod-3-2
{
    display: none;
}

.number-5 .mod-1-2,
.number-5 .mod-3-2,
.number-5 .mod-3-2
{
    display: none;
}

.number-6 .mod-2-2
{
    display: none;
}