* {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 8px solid #000;

}

.column {
    display: flex;
    flex-direction: column;
    flex:0 1 33%;
}

.row {
    height: calc(100%/3);
    width: 100%;
}

.dot {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: #000;
    margin: calc(55% - 20px) 0 0 calc(60% - 20px)
}

.number-1 .mod-1-1,
.number-1 .mod-1-2,
.number-1 .mod-1-3,
.number-1 .mod-3-1,
.number-1 .mod-3-2,
.number-1 .mod-3-3

{
    display: none;
}
